---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Older articles
  order: 2
---

<h1>Older articles</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
